<h1>New Campaign</h1>
<%= simple_form_for @campaign do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :goal, as: :string %>
  <%= f.input :end_date %>
  <%= f.input :address %>
  <%= f.submit class:"btn btn-primary"%>
<% end %>
