<div class="row">
  <div class="col-md-8">
    <h1><%= @campaign.title %></h1>
    <p><%= @campaign.body %></p>
    <p><%= number_to_currency(@campaign.goal) %></p>
    <p>End Date: <%= formatted_date(@campaign.end_date) %></p>

    <div>
      <div id="map" style='height: 400px;'></div>
    </div>
  </div>



  <div class="col-md-4">
    <% @campaign.rewards.each do |rew| %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= number_to_currency(rew.amount) %></div>
        <div class="panel-body">
          <%= rew.description %>
        </div>
      </div>
    <% end  %>
  </div>
</div>

<% if @campaign.draft? %>
  <%= link_to "Publish", campaign_publishings_path(@campaign), method: :patch, data: {confirm: "Are you sure you want to publish?"}, class: "btn btn-primary" %>
<% end %>




  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {
      mapTypeId: google.maps.MapTypeId.TERRAIN
    }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @campaign.latitude %>,
          "lng": <%= @campaign.longitude %>,
          "infowindow": "<%= @campaign.title %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(15);
  });
  </script>
